In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': ['foo', 'foo', 'bar', 'foo', 'bar', 'foo'],
'B': ['one', 'two', 'three', 'two', 'two', 'one'],
'C': np.random.randint(5, size=6),
'D': np.random.randint(5, size=6),
'E': np.random.randint(5, size=6)})
print("\nOriginal DataFrame\n",df)

Original DataFrame
      A      B  C  D  E
0  foo    one  1  2  2
1  foo    two  4  4  0
2  bar  three  4  1  3
3  foo    two  3  4  1
4  bar    two  4  1  1
5  foo    one  1  2  3

In [2]:
df1=df.groupby(['A', 'B'], as_index=False)['C'].sum()
print("\nOriginal DataFrame\n",df)
print("\nGroup by (multi-column); with one column sum\n",df1)

Original DataFrame
      A      B  C  D  E
0  foo    one  1  2  2
1  foo    two  4  4  0
2  bar  three  4  1  3
3  foo    two  3  4  1
4  bar    two  4  1  1
5  foo    one  1  2  3

Group by (multi-column); with one column sum
      A      B  C
0  bar  three  4
1  bar    two  4
2  foo    one  2
3  foo    two  7

In [3]:
df2 = df.groupby(['A', 'B'], as_index=False).sum()
print("\nOriginal DataFrame\n",df)
print("\nGroup by (multi-column): with multi columns sum\n",df2)

Original DataFrame
      A      B  C  D  E
0  foo    one  1  2  2
1  foo    two  4  4  0
2  bar  three  4  1  3
3  foo    two  3  4  1
4  bar    two  4  1  1
5  foo    one  1  2  3

Group by (multi-column): with multi columns sum
      A      B  C  D  E
0  bar  three  4  1  3
1  bar    two  4  1  1
2  foo    one  2  4  5
3  foo    two  7  8  1

In [6]:
df3=df.groupby(['A', 'B'], as_index=False) ['C'].agg('sum')
print("\nOriginal DataFrame\n",df)
print("\nCombined Groupby and Aggregate function\n",df3)

Original DataFrame
      A      B  C  D  E
0  foo    one  1  2  2
1  foo    two  4  4  0
2  bar  three  4  1  3
3  foo    two  3  4  1
4  bar    two  4  1  1
5  foo    one  1  2  3

Combined Groupby and Aggregate function
      A      B  C
0  bar  three  4
1  bar    two  4
2  foo    one  2
3  foo    two  7

In [8]:
df4=(df.groupby(['A', 'B']).agg([('average', 'mean'), ('total', 'sum')]))
print("\nOriginal DataFrame\n",df)
print("\nCombined Groupby and Aggregate function- separate column headings\n",df4)

Original DataFrame
      A      B  C  D  E
0  foo    one  1  2  2
1  foo    two  4  4  0
2  bar  three  4  1  3
3  foo    two  3  4  1
4  bar    two  4  1  1
5  foo    one  1  2  3

Combined Groupby and Aggregate function- separate column headings
                 C             D             E
          average total average total average total
A   B
bar three     4.0     4     1.0     1     3.0     3
    two       4.0     4     1.0     1     1.0     1
foo one       1.0     2     2.0     4     2.5     5
    two       3.5     7     4.0     8     0.5     1

In [9]:
df5 = df.groupby(['A', 'B'], as_index=False).sum()
df6 = (df.groupby(['A', 'B']).agg(['sum']))
print("\nOriginal DataFrame\n",df)
print("\nGroupby - sum function\n",df5)
print("\nGroupby and Aggregate-sum function\n",df6)

Original DataFrame
      A      B  C  D  E
0  foo    one  1  2  2
1  foo    two  4  4  0
2  bar  three  4  1  3
3  foo    two  3  4  1
4  bar    two  4  1  1
5  foo    one  1  2  3

Groupby - sum function
      A      B  C  D  E
0  bar  three  4  1  3
1  bar    two  4  1  1
2  foo    one  2  4  5
3  foo    two  7  8  1

Groupby and Aggregate-sum function
             C   D   E
          sum sum sum
A   B
bar three   4   1   3
    two     4   1   1
foo one     2   4   5
    two     7   8   1