In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'one':[1000,2000,700,800,300],'three':[20000,3900,809,80,1999]})
print(df.replace({1000:700,3000:3900,700:890,800:19,320:1999}))

    one  three
0   700  20000
1  2000   3900
2   890    809
3    19     80
4   300   1999

In [3]:
print(df['three'].isnull())

0    False
1    False
2    False
3    False
4    False
Name: three, dtype: bool

In [16]:
df1 = pd.DataFrame(np.random.randn(3,2),index=['a','c','d'],columns=['one','two'])
df1=df1.reindex(['a','g','b','c','d'])
print(df1)

        one       two
a -1.353290  1.098322
g       NaN       NaN
b       NaN       NaN
c -0.560956  0.555572
d -0.428047 -2.348152

In [17]:
print(df1.fillna(method='pad'))

        one       two
a -1.353290  1.098322
g -1.353290  1.098322
b -1.353290  1.098322
c -0.560956  0.555572
d -0.428047 -2.348152

In [18]:
print(df1.fillna(method='bfill'))

        one       two
a -1.353290  1.098322
g -0.560956  0.555572
b -0.560956  0.555572
c -0.560956  0.555572
d -0.428047 -2.348152

In [19]:
df1.to_excel("d:\exercise2.xlsx")

In [22]:
df1.drop(['g'],axis=0,inplace=True)
print(df1)

        one       two
a -1.353290  1.098322
b       NaN       NaN
c -0.560956  0.555572
d -0.428047 -2.348152

In [25]:
df1=df1.fillna(method='bfill')
print(df1)

        one       two
a -1.353290  1.098322
b -0.560956  0.555572
c -0.560956  0.555572
d -0.428047 -2.348152

df3=pd.read_excel("d:\exercise2.xlsx")
print(df3)

In [26]:
df3 =pd.read_excel("d:\exercise2.xlsx")
print(df3)

  Unnamed: 0       one       two
0          a -1.353290  1.098322
1          g       NaN       NaN
2          b       NaN       NaN
3          c -0.560956  0.555572
4          d -0.428047 -2.348152

In [27]:
new=df[""-1.353290"].isin(['one'])

SyntaxError: EOL while scanning string literal (1465290674.py, line 1)