In [1]:
import pandas as pd
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
'Parrot', 'Parrot'],
'Max Speed': [380., 370., 24., 26.]})
print(df)

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [2]:
a=df.groupby(['Animal']).mean()
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using mean\n",a)

Original DataFrame
    Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

Group by through Column using mean
         Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [3]:
b=df.groupby(['Animal']).sum()
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using sum\n",b)

Original DataFrame
    Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

Group by through Column using sum
         Max Speed
Animal
Falcon      750.0
Parrot       50.0

In [4]:
c=df.groupby(['Animal']).count()
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using count\n",c)

Original DataFrame
    Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

Group by through Column using count
         Max Speed
Animal
Falcon          2
Parrot          2

In [5]:
d=df.groupby(['Animal']).first()
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using first\n",d)

Original DataFrame
    Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

Group by through Column using first
         Max Speed
Animal
Falcon      380.0
Parrot       24.0

In [6]:
e=df.groupby(['Animal']).last()
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using last\n",e)

Original DataFrame
    Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

Group by through Column using last
         Max Speed
Animal
Falcon      370.0
Parrot       26.0

In [7]:
f=df.groupby(['Animal']).size()
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using size\n",f)

Original DataFrame
    Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

Group by through Column using size
 Animal
Falcon    2
Parrot    2
dtype: int64