In [3]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\nOriginal DataFRame:\n",info)
print("\nSquare root of data frame:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:


Original DataFRame:
    P  Q
0  2  7
1  2  7
2  2  7

Square root of data frame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each column:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [4]:
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9,]],columns=['X','Y','Z'])
print("\nOriginal DataFRame:\n",info)
print('\nMinimum and Maximum of each columns:\n')
print(info.agg(['min','max']))

Original DataFRame:
    X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9

Minimum and Maximum of each columns:

     X  Y  Z
min  1  5  7
max  3  7  9

In [6]:
print("\nDataFrame.Assign function:\n")
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
print("\nOriginal DataFRame:\n",d2)
d2['Age']=[35,40]

DataFrame.Assign function:


Original DataFRame:
     Emp   ID
0  Dale  123
1  Mark  143

In [7]:
print("\nAdding new column\n")
d=d2.assign(Sex=['Male','Male'])
print("\nAdding new column:\n",d)

Adding new column


Adding new column:
     Emp   ID  Age   Sex
0  Dale  123   35  Male
1  Mark  143   40  Male

In [12]:
print("\nDateFrame.Sort function:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print("\nSort index:\n",info2)
info3=info.sort_values(by='col3')
print("\nSort values:\n",info3)

DateFrame.Sort function:

       col3      col4
3  0.451643  1.726603
2 -0.801712 -1.119182
0  0.522252 -0.890346
4 -1.323420 -0.190607
1 -0.937496 -0.574660

Sort index:
        col3      col4
0  0.522252 -0.890346
1 -0.937496 -0.574660
2 -0.801712 -1.119182
3  0.451643  1.726603
4 -1.323420 -0.190607

Sort values:
        col3      col4
4 -1.323420 -0.190607
1 -0.937496 -0.574660
2 -0.801712 -1.119182
3  0.451643  1.726603
0  0.522252 -0.890346

In [14]:
print("\nDataFrame.Merge function:\n")
left=pd.DataFrame({'id':[1,2,3,4,5],'Name':['Alex','Amy','Allen','Alice','Ayoung'],'sub':['sub1','sub2','sub4','sub6','sub5']})
right=pd.DataFrame({'id':[1,2,3,4,5],'Name':['Billy','Brain','Bran','Bryce','Betty'],'sub':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

DataFrame.Merge function:

   id    Name   sub
0   1    Alex  sub1
1   2     Amy  sub2
2   3   Allen  sub4
3   4   Alice  sub6
4   5  Ayoung  sub5
   id   Name   sub
0   1  Billy  sub2
1   2  Brain  sub4
2   3   Bran  sub3
3   4  Bryce  sub6
4   5  Betty  sub5
   id  Name_x sub_x Name_y sub_y
0   1    Alex  sub1  Billy  sub2
1   2     Amy  sub2  Brain  sub4
2   3   Allen  sub4   Bran  sub3
3   4   Alice  sub6  Bryce  sub6
4   5  Ayoung  sub5  Betty  sub5