In [1]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
emp=pd.Series(['Parker','John','Smith','William'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print(result)

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [5]:
print(result['Emp'])

0     Parker
1       John
2      Smith
3    William
Name: Emp, dtype: object

In [6]:
print("\nAdding new column\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

Adding new column

       Emp   ID  Age
0   Parker  102   35
1     John  107   24
2    Smith  109   40
3  William  114   38

In [7]:
print("\ndeleting new column\n")
del result['Age']
print(result)

deleting new column

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [8]:
print("\nExtracting the third row")
print(result.loc[2])

Extracting the third row
Emp    Smith
ID       109
Name: 2, dtype: object

In [9]:
print("\nSlice rows:\n",result[1:3])

Slice rows:
      Emp   ID
1   John  107
2  Smith  109

In [10]:
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
print("\nAdding new rows values:\n",result.append(d2))

Adding new rows values:
        Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114
0     Dale  123
1     Mark  143

C:\Users\TCS\AppData\Local\Temp\ipykernel_7184\3468057826.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print("\nAdding new rows values:\n",result.append(d2))

In [11]:
print("\nDeleting particular row:\n",result.drop(1))

Deleting particular row:
        Emp   ID
0   Parker  102
2    Smith  109
3  William  114