In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
dates = [datetime(2020,1,5),
datetime(2020,1,10),
datetime(2020,1,15),
datetime(2020,1,20),
datetime(2020,1,25)]

In [3]:
ts = pd.Series(np.random.randn(5), index=dates)
print("\nWith this date object, create a series with datetime index:\n",ts)

With this date object, create a series with datetime index:
 2020-01-05   -0.627371
2020-01-10   -0.149034
2020-01-15   -2.651444
2020-01-20   -1.660894
2020-01-25    0.524741
dtype: float64

In [4]:
res=ts.truncate(after="1/15/2020")
print("\nTruncate method to truncate datetime series:\n", res)

Truncate method to truncate datetime series:
 2020-01-05   -0.627371
2020-01-10   -0.149034
2020-01-15   -2.651444
dtype: float64

In [5]:
da=pd.date_range("10/1/2022", periods=10, freq="W-SUN")
print("\nDate range with day periods:\n",da)

Date range with day periods:
 DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23',
               '2022-10-30', '2022-11-06', '2022-11-13', '2022-11-20',
               '2022-11-27', '2022-12-04'],
              dtype='datetime64[ns]', freq='W-SUN')

In [6]:
long_df=pd.DataFrame(np.random.randn(10,4), index=da, columns=list("ABCD"))
print("\nMulti-column DateFrame with datetime index:\n",long_df)

Multi-column DateFrame with datetime index:
                    A         B         C         D
2022-10-02 -1.775544 -0.316386 -0.795069 -0.331624
2022-10-09  0.414995  0.225109  0.676100  0.256360
2022-10-16  0.587585 -0.672371  0.518781 -0.787892
2022-10-23 -0.092918  0.327517  0.271147  0.198250
2022-10-30  0.479101  1.071361  0.728934  1.873719
2022-11-06  1.734117  0.050026 -0.884755  0.598435
2022-11-13  0.740428  0.337854 -0.373054 -0.418442
2022-11-20  1.583602 -1.345889  0.134062 -1.496784
2022-11-27  0.693866 -1.366690  0.188907  1.381013
2022-12-04 -2.061223  0.225772  2.801333  0.161532

In [7]:
date=pd.DatetimeIndex(["1/1/2020","1/2/2020","1/2/2020","1/2/2020","1/3/2020"])
ts1=pd.Series(np.arange(5), index=date)
print("\nDuplicate datetime index:\n",ts1)

Duplicate datetime index:
 2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int64

In [8]:
group=ts1.groupby(level=0)
print("\nRepeated date counts:\n",group.count())

Repeated date counts:
 2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64